<% include headeruser %>
<div class="col-md-push-3 col-md-6 col-xs-12">
    <h2>Car edit</h2>

    <form>
        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" id="brand" class="form-control"
                   value="<%= (typeof car !== 'undefined') ? car.brand : '' %>">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" class="form-control"
                   value="<%= (typeof car !== 'undefined') ? car.type : '' %>">
           <!-- <select id="type" class="form-control">
                <option>SUV</option>
                <option>Limusine</option>
                <option>Coupe</option>
            </select>
            -->
        </div>
        <div class="form-group">
            <label for="plate">Serial</label>
            <input type="text" id="plate" class="form-control"
                   value="<%= (typeof car !== 'undefined') ? car.plate : '' %>">
        </div>
        <div>
            <label for="price">Price €/day</label>
            <input type="number" id="price" class="form-control"
                   value="<%= (typeof car !== 'undefined') ? car.price : '' %>">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save Car">
            <!-- <a href="/cars" class="btn btn-primary">Save</a> -->
            <a href="/cars" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
<% include footer %>