<% include header %>
<div class="col-xs-12 text-center">
    <span class="btn-group">
        <a href="/customers" class="btn btn-info">Customers</a>
        <a href="/cars" class="btn btn-info">Cars</a>
        <a href="/rents" class="btn btn-info">Rents</a>
        <a href="/login" class="btn btn-info">Logout</a>
    </span>
</div>